* {
    box-sizing: border-box;
}

body {
    margin: 0%;
    background-color: rgba(0, 0, 0, 0.05);
}

.main {
    width: 1630px;
    min-height: 100vh;
    max-width: 100%;
}

.main__product {
    display: flex;
    padding: 10px;
}

/* Product */
.main__product-img {
    width: 40%;
    padding-top: 40%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0% auto;
}

.main__product-info {
    width: 60%;
    padding: 10px;
}

/* Column layout */
.column-layout {
    margin-top: 36px;
    padding: 12px 0;
    background-color: #fff;
    display: flex;
}

.column-layout__category {
    width: 20%;
    padding: 0% 16px;
}

.column-layout__container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.column-item {
    width: 25%;
    padding: 0% 16px;
}

.feature-layout {
    margin-top: 36px;
    display: flex;
    justify-content: space-around;
}

.feature-item {
    padding: 12px 16px;
    margin-top: 16px;
    flex-basis: 30%;
}

.feature-item:nth-child(1) {
    display: block;
    background-color: aqua;
    color: black;
}

.feature-item:nth-child(2) {
    display: block;
    background-color: rgb(176, 240, 240);
    color: black;
}

.feature-item:nth-child(3) {
    display: block;
    background-color: rgb(235, 160, 69);
    color: black;
}



/* Mobile & Tablet width < 1024px */
@media only screen and (max-width: 63.9375em) {
    .main__product {
        flex-direction: column-reverse;
    }

    .main__product-info {
        width: 100%;
    }

    .main__product-desc {
        display: none;
    }
}

/* Mobile width: < 740px */
@media only screen and (max-width: 46.1875em) {
    /* Product */
    .main__product-img {
        width: 95%;
        padding-top: 85%;
    }
    /* Course */
    .column-layout__container {
        width: 100%;
    }

    .column-layout__category {
        display: none;
    }

    .column-item {
        width: 100%;
        text-align: center;
    }

     /* Card layout */
     .feature-layout {
        flex-direction: column;
    }
}

/* Tablet width: >= 740px and width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    /* Product */
    .main__product-img {
        width: 85%;
        padding-top: 85%;
    }

    /* Course */
    .column-item {
        width: 33.333%;
    }

   

}